<ion-view view-title="LighterJack" ng-controller="DisconnectCtrl">
  <ion-content class="padding">
    
        <!--<button class="button button-block button-outline button-assertive" ng-click="RSSI()">
          read RSSI
        </button>
        <button class="button button-block button-outline button-primary" ng-click="disconnect()">
          disable LighterJack
        </button>
        <button class="button button-block button-outline button-assertive" ng-click="foobar()">
          foo bar 
        </button>
        -->
        
        <div class="round-button round-button-circle button-block">
        <a ng-click="kingPush()" class="round-button">Engage LighterJack</a>
        </div>
      
  </ion-content>
</ion-view>
