<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

    <ion-item class="item-toggle">
      Bluetooth
      <label class="toggle toggle-calm">
        <input type="checkbox" ng-model="settings.enableFriends">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </ion-item>

  <ion-item class="item range range-calm">
    Range
    <i class="icon ion-ios7-sunny-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios7-sunny"></i>
  </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
